ServiceAccess/Service Capabilities/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudyTasksService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudyMonitor.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudyTasksService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_GetTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_GetTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_AddTimeSpanTo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTimeSpanTo" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_AddTimeSpanTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTimeSpanToResponse" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_GetTimeSpansFor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeSpansFor" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_GetTimeSpansFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeSpansForResponse" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_ClearAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearAll" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_ClearAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearAllResponse" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_GetAllTasksOfUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksOfUser" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_GetAllTasksOfUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_GetOpenTimeSpanIdFor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenTimeSpanIdFor" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_GetOpenTimeSpanIdFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenTimeSpanIdForResponse" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_RemoveTask_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTask" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_RemoveTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_RemoveTimeSpan_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTimeSpan" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_RemoveTimeSpan_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTimeSpanResponse" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_GetTimeSpan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeSpan" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_GetTimeSpan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeSpanResponse" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_GetUserIdForTests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdForTests" />
  </wsdl:message>
  <wsdl:message name="IStudyTasksService_GetUserIdForTests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdForTestsResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudyTasksService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudyTasksService/Add" message="tns:IStudyTasksService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudyTasksService/AddResponse" message="tns:IStudyTasksService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudyTasksService/GetTask" message="tns:IStudyTasksService_GetTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudyTasksService/GetTaskResponse" message="tns:IStudyTasksService_GetTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTimeSpanTo">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudyTasksService/AddTimeSpanTo" message="tns:IStudyTasksService_AddTimeSpanTo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudyTasksService/AddTimeSpanToResponse" message="tns:IStudyTasksService_AddTimeSpanTo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeSpansFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudyTasksService/GetTimeSpansFor" message="tns:IStudyTasksService_GetTimeSpansFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudyTasksService/GetTimeSpansForResponse" message="tns:IStudyTasksService_GetTimeSpansFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudyTasksService/ClearAll" message="tns:IStudyTasksService_ClearAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudyTasksService/ClearAllResponse" message="tns:IStudyTasksService_ClearAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksOfUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudyTasksService/GetAllTasksOfUser" message="tns:IStudyTasksService_GetAllTasksOfUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudyTasksService/GetAllTasksOfUserResponse" message="tns:IStudyTasksService_GetAllTasksOfUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpenTimeSpanIdFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudyTasksService/GetOpenTimeSpanIdFor" message="tns:IStudyTasksService_GetOpenTimeSpanIdFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudyTasksService/GetOpenTimeSpanIdForResponse" message="tns:IStudyTasksService_GetOpenTimeSpanIdFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudyTasksService/RemoveTask" message="tns:IStudyTasksService_RemoveTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudyTasksService/RemoveTaskResponse" message="tns:IStudyTasksService_RemoveTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTimeSpan">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudyTasksService/RemoveTimeSpan" message="tns:IStudyTasksService_RemoveTimeSpan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudyTasksService/RemoveTimeSpanResponse" message="tns:IStudyTasksService_RemoveTimeSpan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeSpan">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudyTasksService/GetTimeSpan" message="tns:IStudyTasksService_GetTimeSpan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudyTasksService/GetTimeSpanResponse" message="tns:IStudyTasksService_GetTimeSpan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudyTasksService/Update" message="tns:IStudyTasksService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudyTasksService/UpdateResponse" message="tns:IStudyTasksService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIdForTests">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudyTasksService/GetUserIdForTests" message="tns:IStudyTasksService_GetUserIdForTests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudyTasksService/GetUserIdForTestsResponse" message="tns:IStudyTasksService_GetUserIdForTests_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudyTasksService" type="tns:IStudyTasksService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IStudyTasksService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <soap:operation soapAction="http://tempuri.org/IStudyTasksService/GetTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTimeSpanTo">
      <soap:operation soapAction="http://tempuri.org/IStudyTasksService/AddTimeSpanTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeSpansFor">
      <soap:operation soapAction="http://tempuri.org/IStudyTasksService/GetTimeSpansFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearAll">
      <soap:operation soapAction="http://tempuri.org/IStudyTasksService/ClearAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksOfUser">
      <soap:operation soapAction="http://tempuri.org/IStudyTasksService/GetAllTasksOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpenTimeSpanIdFor">
      <soap:operation soapAction="http://tempuri.org/IStudyTasksService/GetOpenTimeSpanIdFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTask">
      <soap:operation soapAction="http://tempuri.org/IStudyTasksService/RemoveTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTimeSpan">
      <soap:operation soapAction="http://tempuri.org/IStudyTasksService/RemoveTimeSpan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeSpan">
      <soap:operation soapAction="http://tempuri.org/IStudyTasksService/GetTimeSpan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IStudyTasksService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdForTests">
      <soap:operation soapAction="http://tempuri.org/IStudyTasksService/GetUserIdForTests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudyTasksService">
    <wsdl:port name="BasicHttpBinding_IStudyTasksService" binding="tns:BasicHttpBinding_IStudyTasksService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>