ServiceAccess/Service Capabilities/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StudyMonitor.Service" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudyMonitor.Service" minOccurs="0" name="task" nillable="true" type="q1:StudyTaskService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudyMonitor.Service" minOccurs="0" name="GetTaskResult" nillable="true" type="q2:StudyTaskService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimeSpanTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StudyMonitor.Service" minOccurs="0" name="timeSpan" nillable="true" type="q3:TaskTimeSpanService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimeSpanToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTimeSpanToResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSpansFor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSpansForResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StudyMonitor.Service" minOccurs="0" name="GetTimeSpansForResult" nillable="true" type="q4:ArrayOfTaskTimeSpanService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAllResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StudyMonitor.Service" minOccurs="0" name="GetAllTasksResult" nillable="true" type="q5:ArrayOfStudyTaskService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>